@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  max-width: 800px;
  margin: auto; 
  font-family: "Raleway", sans-serif;
}

.myH1 {
  text-align: center;
}

.myList {
  text-align: center;
  list-style-type: none;
}
.myList li {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  transition: all .2s;
}

.myList li:hover {
  color: #53A548;
}