/* Estilo para o nosso app */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #2E2836;
    color: #fff;
    font-family: "Roboto", sans-serif;

    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    font-size: 1.5rem;
    border-radius: 15px;
    text-align: center;
    border: none;
}

label {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

label input {
    cursor: pointer;
}